## .NET / Visual Studio / Rider
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
**/packages/
project.lock.json
project.fragment.lock.json
artifacts/

# VS / VS Code
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Rider
.idea/
*.sln.iml

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Test / coverage
TestResults/
*.coverage
*.coveragexml

# ASP.NET
appsettings.*.local.json
secrets.json
